* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Montserrat', sans-serif;
}
.container {
	width: 100vw;
	height: 130px;
	background: linear-gradient(180deg, #72D6EC 43.43%, #72ECD6 87.88%);
	display: flex;
	justify-content: space-around;
	align-items: center;
	text-align: center;
}
.logo {
	color: #fff;
	font-size: 4px;
	font-weight: bold;
	line-height: 25px;
	margin-left: 10px;
}	
.btn {
	display: flex;
	justify-content: center;
	align-items: center;
}
.btn-in {
	width: 100px;
	height: 40px;
	font-family: 'Montserrat';
	font-weight: 700;
	color: #127380;
	background: #EDF8FF;
	border-radius: 7px;
	border: none;
	margin-left: 150px;
}
.btn-reg {
	width: 150px;
	height: 40px;
	font-family: 'Montserrat';
	font-weight: 700;
	color: #127380;
	background: #B6FDE3;
	border: none;
	border-radius: 7px;
	margin-left: 15px;
}
.profile {
	width: 65px;
	height: 75px;
	margin-left: 90px;
}

/*Поиск*/
.search-box {
	position: relative;
	top: 20px;
	/*justify-content: center;*/
	transform: translate(-50%, -50%);
	background: #fff;
	height: 40px;
	border-radius: 50px;/*А здесь можно изменить углы плейсхолдера*/
	/*padding: 10px;*/
	}
	.search-box:hover > .search-txt {
	width: 240px;
	padding: 0 6px;
	}
	.search-box:hover > .search-btn {
	background: white;
	color: black;
	}
	.search-btn {
	color: #eeeeee;
	float: right;
	width: 40px;
	height: 40px;
	border-radius: 50%;/*Здесь можно изменить углы фона кнопки*/
	background: #127380;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.4s;
	color: white;
	cursor: pointer;
	text-decoration:none;
	}
	.search-btn > i {
	font-size: 20px;
	}
	.search-txt {
	border: none;
	background: none;
	outline: none;
	float: left;/*Здесь можно изменить сторону лупы*/
	padding: 0;
	color: #000;
	font-size: 16px;
	transition: 0.4s;
	line-height: 40px;
	width: 0px;
	font-weight: bold;
	}
	/*Конец первой главы*/


/*Определяем сколько будут занимать левый и правый сайдбар вместе с контентом*/
.page-wrapper {
	display: flex;
	margin-top: 50px;
	text-align: center;
}
.left-sidebar {
	flex: 1;
	height: 500px;
	border: solid #73D6EC 2px;
	margin-left: 20px;
	margin-right: 20px;
}
.label {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 10%;
	background: #73ECD6;;
	
}
.small-images {
	width: 30px;
	height: 30px;
	margin-right: 5px;
}
span {
	font-size: 18px;
	font-weight: 600;
}
.social-networks {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 10%;
	margin-top: 20px;
	background: #73ECD6;
}
.social-networks__circle {
	margin-top: 30px
}
.content {
	flex: 3;
	background: #EDF8FF;
	border: solid yellowgreen 2px;
	padding: 20px;
	margin-right: 20px;
}
.post {
	width: 100%;
}
.txt {
	text-align: left;
	line-height: 30px;
}
.right-sidebar {
	flex: 1;
	border: solid #73D6EC 2px;
	margin-right: 20px;
}
ul {
	list-style-type: none;
}
.under {
	text-decoration: none;
}
.text-aside {
	margin-top: 25px;
	width: 90%;
	height: 200px;
	overflow: auto;
}
.footer {
  display: flex;
  flex-direction: row;
	justify-content: space-around;
	align-items: ;
	margin-top: 20px;
	margin-right: 20px;
	margin-left: 20px;
	border: solid #72D6EC 2px;
}